---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogItem from "../components/BlogItem.astro";

import "../styles/global.css";
import "../styles/homepage.css";

import Bluesky from "../assets/icons/bluesky.astro";
import Github from "../assets/icons/github.astro";
import Wave from "../assets/images/wave.astro";

import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
---

<BaseLayout frontmatter={{title: "jfjfd", description: "fdkfkd"}}>
  <!-- background wave svg -->
  <div class="bg">
    <Wave />
  </div>

  <!-- Main  -->
  <div class="main-container">
    <!-- <Header /> -->
    <div class="inner-container">
      <main>
        <aside>
          <h1 class="font-instrument">
            Mistakes
            <br />
            Make
            <br />
            The Headlines
          </h1>
          <h1 class="font-instrument"></h1>
          <p>
            Interactive Journeys Through Computer Science and Web Development by <span
              >Error.Party</span
            >
          </p>
          <div class="social">
            <div class="icons">
              <Github />
              <Bluesky />
            </div>
            <div class="rights">
              &#169; <span> $#% - @^&*</span>
            </div>
          </div>
        </aside>
        <section>
          <div class="up-coming font-edu">
            <span class="logo font-instrument"> ERROR.BLOG --</span> One upcoming
            Blog
          </div>
          {
            blogPosts.map((post) => (
              <BlogItem title={post.data.title} relDate={post.data.pubDate} />
            ))
          }
          <!-- Extra Remain Sace -->
          <div class="blank-space"></div>
        </section>
      </main>
    </div>
  </div>
</BaseLayout>
