---
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
<style>
  header {
    padding: 0 4em;
    height: 8vh;
  }
  nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 2em;
    font-weight: 700;
    a {
      color: #efd0be87;
    }
  }
</style>
